<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if (eq .Lang "nko") }}dir="rtl"{{ end }}>
  {{- partial "head.html" . -}}
  <body class="grid">
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    {{- partial "js.html" . -}}
  </body>
</html>
