{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
  {{ define "main" }}
    <aside class="left">
    </aside>
    <main>
      {{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
      <article class="container">
        {{ $tagcolor := .Site.Params.params.color }}
        {{ if .Params.Image }}
          <div class="image">
            <img src="{{ .Params.Image }}"> 
            </figure>
          </div>
        {{ end }}

        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>

          {{ partial "translate" . }}

        <div class="doc">
          {{ .Content }}
        </div>

        <div class="doc-footer" style="flex-flow: column;">
          {{ if or (ne ($.Param "share") false) (.Site.DisqusShortname) }}
            <row class="">
              {{ if (ne ($.Param "share") false) }}
                {{ partial "share" . }}
              {{ end }}
            </row>

            <row class="tag">
              {{ partial "meta" . }}
            </row>

            <row class="card-footer-item">
            <kbd> <a href="{{ .Site.Params.gitrepo }}/{{ .Site.Params.gitpath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}" 
                                    target="_blank" rel="noopener"><span>{{ i18n "pageedit" }}</span></a></kbd>
            </row>

            <row class="card-footer-item">
              {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
                {{ template "_internal/disqus.html" . }}
              {{ end }}
            </row>
        </div>

      {{ end }}
      </article>
    </main> 
    <aside class="right">
    </aside>
  {{ end }}
