:root {
  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-15: #bababa;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  --color-orange: #ff6f00;
  --color-blue: #3273dc;
  --color-blue: #4285f4;
  --color-green: #93c54b;
  --color-green: #41af46;
  --color-red: #d9534f;
  --color-yellow: #e8c547;
  --color-primary: #4285f4;
  --color-secondary: var(--color-yellow);
  --color-accent: #cdd1c4;
  --color-accent: #e2e4dd;

  --color-set-panel: var(--color-accent);
  --table-set-stripe-background: var(--color-smoke-10);

  /* navbar */
 /*  --navbar-background: var(--color-primary); */
  --navbar-font-color: var(--color-jet-50); /* */

  --navbar-hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-box-shadow: rgba(160, 160, 160, 0.15);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu-hover-background: var(--color-smoke-50);

  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-secondary);
  --footer-font-color: var(--color-smoke-30);
  --footer-link-font-color: var(--color-set-panel);
}
