  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}

    {{ if .HasChildren }} {{/* If a menu has child items ... */}}
     {{if eq .Identifier  "resources" }}
        {{ range .Children }}
    {{/* Check for menu items named like "---- 1", etc and turn into HR's */}}
             <div class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}{{ end }}">
               <span><a href="{{ .URL | relLangURL }}" class="">{{ .Name }}</a></span>
             </div>
        {{end}}
      {{ end }}
    {{ end }}

  {{end}}{{/* range end */}}
