{{ if gt (len .Site.Home.AllTranslations) 1 }}
  {{ range .Site.Home.AllTranslations }}
    <div class="navbar-item">
      {{ $tagcolor := .Site.Params.params.color }}
      <span><a class="{{ $tagcolor }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></span>
    </div>
  {{ end }}
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
