<span>
<a class="" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title={{ i18n "share" }}><img class="icon share" src="/images/icons/logo-facebook.svg"></img></a>
<a class="" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" title={{  i18n "share" }}><img class="icon share" src="/images/icons/logo-linkedin.svg"></img></a>
<a class="" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&amp;text={{ .Title }}" title={{ i18n "tweet" }}><img class="icon shaere" src="/images/icons/logo-twitter.svg"></img></a>
</span>
{{- /* vim: set ts=2 sw=2 et: */}}
