<div class="noteblock">
  {{ if .IsTranslated }}
    {{ range .Translations }}
      {{ $tagcolor := .Site.Params.params.color }}
      <div class="tags">
        <kbd class="tag {{ $tagcolor  }}">{{ .Lang }}</kbd>
        <span class="tag {{ $tagcolor }}"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
      </div>
    {{ end }}
  {{ end }}
</div>
